@model IEnumerable<CrankLog_Mark3.Models.Bike>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.bikeFrameNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bikeBrand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bikeMode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bikeColoer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bikePrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.bikeFrameNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bikeBrand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bikeMode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bikeColoer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bikePrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.bikeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.bikeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.bikeId })
        </td>
    </tr>
}

</table>
